<mat-card class="mat-elevation-z4 section" *ngIf="links.length > 0">
  <div class="card-header-row">
    <mat-card-title>Employees</mat-card-title>
    <mat-form-field class="search-field" appearance="outline">
      <input matInput placeholder="Search by name" [formControl]="employeeSearchCtrl" />
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <mat-card-content>
    <ng-container *ngIf="hasEmployees; else noMatches">
      <div *ngFor="let link of filteredLinks">
        <ng-container *ngIf="link.employees.length > 0">
          <p style="color:#006a6a">{{ link.link }}</p>
          <div class="employee-grid">
            <button
              mat-stroked-button
              color="primary"
              *ngFor="let emp of link.employees"
              (click)="selectEmployee(emp, link)">
              {{ emp.name }} (wk: {{ emp.wk }})
            </button>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #noMatches>
      <p>{{ searchTerm }} not found</p>
    </ng-template>
  </mat-card-content>
</mat-card>
