<mat-toolbar color="primary">
    <span>Rota Reader</span>
    <span class="spacer"></span>
    <button mat-button>
        <mat-icon>menu</mat-icon>
        Menu
    </button>
</mat-toolbar>

<div class="container">
    <mat-card class="mat-elevation-z4 section">
        <mat-card-title>Welcome to the rota reader</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>
                The purpose of this application is to read the rota (xlsx format) and generate downloadable calendar events which
                can be added to Google and iPhone calendars. To use it simply upload the rota file below and follow steps on screen.
            </p>
        </mat-card-content>
    </mat-card>

    <!-- Upload -->
    <app-upload (linksChange)="handleLinksUpdate($event)"></app-upload>

    <!-- Display after upload -->
    <app-display [links]="links"></app-display>
</div>
